{% extends 'base.html' %}

{% block content %}
<h1>文献の削除</h1>
<table>
    <tr>
        <th>タイトル</th>
        <td>{{ object.book }}</td>
    </tr>
    <tr>
        <th>著者名</th>
        <td>{{ object.author }}</td>
    </tr>
    <tr>
        <th>出版社</th>
        <td>{{ object.publisher }}</td>
    </tr>
      <tr>
        <th>年</th>
        <td>{{ object.year }}</td>
    </tr>
    <tr>
        <th>該当ページ</th>
        <td>{{ object.page }}</td>
    </tr>
</table>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit"value="削除" />
</form>
<a href="{% url 'book:list' %}">戻る</a>
{%endblock%}
