{% extends 'base.html' %}

{% block content %}
<h1>文献（ネット）の削除</h1>
<table>
    <tr>
        <th>タイトル</th>
        <td>{{ object.reference }}</td>
    </tr>
    <tr>
        <th>サイト名</th>
        <td>{{ object.site }}</td>
    </tr>
    <tr>
        <th>URL</th>
        <td>{{ object.url }}</td>
    </tr>
      <tr>
        <th>閲覧日</th>
        <td>{{ object.day }}</td>
    </tr>
</table>
<form action="" method="post">
    {% csrf_token %}
    <input type="submit"value="削除" />
</form>
<a href="{% url 'book:rlist' %}">戻る</a>
{%endblock%}
